.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin-left: 20px;
}


.react-stateless-forms-formatted-input {
  position: relative;
  margin-bottom: 16px;
}

.react-stateless-forms-formatted-input label {
  top: -12px;
  margin-left: 16px;
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  padding: 0 8px;
  position: absolute;
  z-index: 1;
  background-color: white;
  align-items: flex-end;
  font-size: 14px;
  line-height: 1.8;
}

.react-stateless-forms-formatted-input input {
  width: 80%;
  display: block;
  padding: 20px;
  font-size: 14px;
  border: 1px solid rgb(204,204,204);
}

.react-stateless-forms-formatted-input input:focus {
  outline: none;
  border-color: black;
  box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.14);
}

.react-stateless-forms-formatted-input input:focus+label {
  color: black;
}

.react-stateless-forms-formatted-input.error label {
  color: rgb(235,95,95);
}

.react-stateless-forms-formatted-input.error input {
  border-color: rgb(235,95,95);
}

.react-stateless-forms-formatted-input.error input:focus {
  outline: 0px solid transparent;
  border-color: rgb(235,95,95);
  box-shadow: 0px 0px 1px rgba(235,95,95,0.5);
}

.react-stateless-forms-formatted-input.error input:focus+label {
  color: rgb(235,95,95);
}

.react-stateless-forms-formatted-input.error input:focus:hover {
  border-color: rgb(235,95,95);
}

.react-stateless-forms-formatted-input span {
    top: -2px;
    left: 12px;
  }

.react-stateless-forms-formatted-input input {
    padding: 16px 18px;
}

.react-stateless-forms-submit-button input {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14);

  appearance: none;
  display: inline-block;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  border: 1px solid rgb(204,204,204);

  color: white;
  background: rgb(27,144,200);
  padding: 16px 44px;
  border-radius: 3px;
  margin: 0;
}

.react-stateless-forms-submit-button input:hover {
  background-color: rgb(72,166,213);
  text-decoration: none;
}

.react-stateless-forms-submit-button input:disabled {
  background-color: rgb(245,245,245);
  cursor: default;
}

.react-stateless-forms-error-message {
  color: rgb(235,95,95);
  font-size: 14px;
  padding-left: 20px;
}

.react-stateless-forms-error-box {
  background-color: rgb(235,95,95);
  color: white;
}
