@import '~styles/borders_and_shadows';

.error-message-box {
  width: 100%;
  background-color: var(--color-alert-lighten-30);
  margin: 0 auto 30px;
  padding: 15px;
  text-align: left;
  border-radius: 3px;
  color: var(--color-alert);
  @include border-banded-all(var(--color-alert));
}
